body {
    background-color: #FFDD94;
    text-align: center;
    color: #194AA3;
    display: flexbox;
}

li {
    border: solid grey .25px;
    display: inline;
    padding: 20px;
    margin-right: 50px;
    background-color: #8db0f0;
    color: #EDC69A;
}

header {
    display: flex;
    justify-content: space-between;
    border: thin solid black;
    height: 100px;
    align-items: center;
}

header img {
    height: 60%;
    margin-left: 50px;
}

header h1 {
    text-align: center;
    font-size: 60px;
}

header ul {
    width: 50%;
    display: inline;
}

header nav {
    font-size: large;
}

section article h3 {
    font-size: 30px;
    align-content: bottom;
}

#shop {
    display: flex;
    justify-content: center;
}

#shop h2 {
    align-items: center;
}

#shop img {
    align-items: center;
    margin: 10px;
    height: 25%;
    width: 25%;
}

#family {
    height: 400px;
}

#family img {
    float: right;
    padding: 20px;
    height: 80%;
}

.col {
    height: 300px;
}

#col {
    border: black thin;
}

@font-face {
    font-family: 'marcellusregular', 'Times New Roman', Times, serif;
    src: url('marcellus-regular-webfont.woff2') format('woff2'),
         url('marcellus-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.flex-grid-fifths {
    display: flex;
    justify-content: space-between;
  }
  .flex-grid-fifths .col {
    width: 32%;
  }