body {
    background-color: #FFDD94;
    text-align: center;
    color: #194AA3;
    display: flexbox;
}

li {
    border: solid grey .25px;
    display: inline;
    padding: 20px;
    margin-right: 50px;
    background-color: #8db0f0;
    color: #EDC69A;
}

header {
    display: flex;
    justify-content: space-between;
    border: thin solid black;
    height: 100px;
    align-items: center;
    background-color: #EDC672;
}

header img {
    height: 60%;
    margin-left: 50px;
}

header h1 {
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
}

header ul {
    width: 50%;
    display: inline;
}

header nav {
    font-size: large;
}

section article h3 {
    font-size: 40px;
    align-content: bottom;
    font-weight: bolder;
    padding: 10px;
}

footer {
    padding: 50px;
}

#shop {
    display: flex;
    justify-content: center;
}

#shop h2 {
    align-items: center;
}

#shop img {
    align-items: center;
    margin: 10px;
    height: 25%;
    width: 25%;
}

#sales {
    font-size: 36px;
}

#family {
    height: 400px;
}

#family img {
    float: right;
    padding: 20px;
    height: 80%;
}

.col {
    height: 225px;
    align-items: center;
}

#col {
    border: black thin;
}

.flex-grid-fifths {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.flex-grid-fifths .col {
    width: 32%;
}

.flex-grid-fifths h2 {
    font-size: 24px;
    font-weight: bolder;
}

.column {
    flex: 10%;
}

.fish-row {
    display: flex;
    justify-content: left;
    padding: 20px;
}

#chinook {
    height: 100%;
    width: 100%;
}

table, th, td {
    border: 1px dotted #194AA3;
    margin: 50px;
    align-items: center;
    padding: 7px;
}

th {
    font-weight: bolder;
    font-size: 20px;
    padding: 10px;
}

form {
    padding: 50px;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

#legend {
    font: 24px bolder;
    border: 2px solid gray;
}

label {
    justify-items: right;
}

@font-face {
    font-family: 'ubuntu_monobold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    src: url('ubuntumono-bold-webfont.woff2') format('woff2'),
         url('ubuntumono-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu_monobold_italic', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    src: url('ubuntumono-bolditalic-webfont.woff2') format('woff2'),
         url('ubuntumono-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu_monoitalic', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    src: url('ubuntumono-italic-webfont.woff2') format('woff2'),
         url('ubuntumono-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu_monoregular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    src: url('ubuntumono-regular-webfont.woff2') format('woff2'),
         url('ubuntumono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'marcellusregular', 'Times New Roman', Times, serif;
    src: url('marcellus-regular-webfont.woff2') format('woff2'),
         url('marcellus-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}